#lateral { float: left; width: 21%; }

#lateral {
  margin-bottom: 5px;
  border-radius: 15px 15px 15px 15px; /* esquinas en forma ovalada*/
  margin-top: 1em;
  margin-right: 1em;
  background: #819FF7;
}

#menu {
  border-radius: 15px 15px 15px 15px; /* esquinas en forma ovalada*/
  background: rgb(206, 224, 41);
  padding: .2em; /*espacio entre el borde y el texto*/
}
