  /*Color de fondo de toda la pagina*/
  html {
  background-color: rgb(240, 232, 128);
  }

  /*-- Básico --*/
  ul, ul li { 
      margin: 0; 
      padding: 0; 
      list-style: none;
 }

  h1, h2, h3, p { 
      margin: 0; 
      padding: 0; 
  }
  
  .clear { clear: both; }

  /*--No subrayar los links--*/
  a {
      text-decoration: none;
      font-family: Verdana, Geneva, Arial, sans-serif;
  }
  
  /*Espacion entre cada parrafo*/
  p {
      margin: 5px;
  }
  
  #contenedor {
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    background: url(/img/pt_logo.jpg);
    background-color: aqua;
  }


  /*-- Layout -- Tamaño del borde---*/
  #cabecera, #lateral, #contenido, #pie {
    border: 2px solid #777;
  }
  
  /*Tamaño de las cajas*/
  #lateral { float: left; width: 21%; }
  #contenido { float: right; width: 88%; }
  
  /*-- Cabecera --------------------------------------------------------*/
  #cabecera #logo { 
      float: 
      left;    
  }
  
  #cabecera #buscador { float: right; }
  
  /*-- Menu -----
  #menu ul#menu_principal li { 
    display: inline; 
    float: left; 
    width: 15%;
    height: 100%;
	  vertical-align:middle;   
} */
  
  /*-- Cambio del tamaño de los pixeles dentro del contenido --*/
  #contenido .articulo img { width: 200px; float: left; }
  
  /*-- Pie de página --*/
  #pie .enlaces   { float: left; }
  #pie .copyright { float: right; }
    
  /*Ancho de la cabecera*/
  #cabecera {
    padding: 1em;
  }
  
  #menu {
    background: aqua;
    padding: .2em; /*espacio entre el borde y el texto*/
  }
  
  #contenido {
    width: 77%;
    padding: 0; /*es el espacio entre el contenido del elemento y su borde ( border ) no se permiten valores negativos.*/
  }
    
  /*Espacio entre el borde y texto del contenido*/
  #contenido .articulo img { 
    margin: .5em;
  }
  
  #lateral {
    margin-top: 1em;
    background: #819FF7;
  }

  #contenido, #pie{
    margin-top: 1em;
  }

  #pie {
    padding: 1em;

  }
  
  
  